
<app-header  align="end" titulo="Alojamiento"></app-header>



<ion-content  class="card-background-page">

  <ion-item-divider ></ion-item-divider>
  <ion-grid >

    <ion-row >

           <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">                                 
                    <ion-card size-lg="6"  [routerLink]="['/hoteles']">               
                      <img src="https://firebasestorage.googleapis.com/v0/b/tulcan-be024.appspot.com/o/Portadas%2FHoteles.jpg?alt=media&token=2e5fdc8f-18f1-465e-9b05-6d073454c1c4" />   
                        <div class="card-title">Hoteles</div>
                        <div class="card-subtitle"></div>
                    </ion-card>
           </ion-col>               

           <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12" >
                    <ion-card size-lg="6" [routerLink]="['/hostales']">
                      <img src="https://firebasestorage.googleapis.com/v0/b/tulcan-be024.appspot.com/o/Portadas%2FHostales.jpg?alt=media&token=01b2c62b-b381-4055-8e41-5e4cee09472f"/>
                        <div class="card-title">Hostales</div>
                        <div class="card-subtitle"></div> 
                    </ion-card>
           </ion-col>

      </ion-row>
  </ion-grid>
  
</ion-content>
  