 
<app-header></app-header>  

    <ion-content>
      
       
      <ion-col  >
      <ion-card class="card">
      <ion-label>
        <img  src={{listaopera.foto_portada}}>  
      </ion-label>
      
    </ion-card>
      
    </ion-col>
      
      <!-- <ion-icon class="item" name="logo-facebook" (click)="openWeb(lista.facebook,'_system')">Pagina web</ion-icon> -->
     
      <ion-segment >
        <ion-segment-button  (click)="openFb(listaopera.facebook,'_system')">  
          <ion-label class="text">Facebook</ion-label>
          <ion-icon color="facebook" class="fb" name="logo-facebook" ></ion-icon>   
        </ion-segment-button>
    
        <ion-segment-button href="https://wa.me/${593999229501}?text=Hola%20Mundo">
          <ion-label class="text">WhatsApp</ion-label>
          <ion-icon color="whatsapp" class="what" name="logo-whatsapp"></ion-icon>
        </ion-segment-button>
    
        <ion-segment-button  (click)="openWeb(listaopera.pagina_web,'_system')">
          <ion-label class="text">Sitio Web</ion-label>
          <ion-icon color="web" class="Web" name="globe"></ion-icon> 
          
        </ion-segment-button> 
        
        <ion-segment-button  (click)="calln(listaopera.telef_celular,'_system')">
          <ion-label class="text">Llamar</ion-label>
          <ion-icon color="call" class="call" name="call"></ion-icon>
        </ion-segment-button>
        
          </ion-segment>
          
          <ion-list>
            <ion-card>
              <p> <h2 class="title_desc"> Descripción</h2> 
                <div class="ion-text-justify"><h5>{{listaopera.descripcion|slice:0: oculto}}... </h5></div>
                <ion-label color="header"
                (click)="oculto = 5000"
                *ngIf="oculto !==5000">Leer más! </ion-label>
    
              <ion-item>
                <ion-label>
                  <ion-icon class="size" color="location" name="location-outline"></ion-icon> 
                  {{listaopera.direccion}} 
                </ion-label>

                <ion-button (click)="mostrarUbicacion(listaopera.lat, listaopera.lng)" fill="clear" >
                  <ion-icon class="size" slot="end" name="navigate-outline"></ion-icon>
                </ion-button>

              </ion-item>
              
              <ion-item>
                <ion-label ><ion-icon class="size" color="call" name="call-outline"></ion-icon> {{listaopera.telef_celular}}</ion-label>
                
              </ion-item>
              <ion-item>
                <ion-label ><ion-icon class="size" color="call" name="call-outline"></ion-icon> {{listaopera.telef_fijo}}</ion-label>
                
              </ion-item>
              <ion-item>
                <ion-label ><ion-icon class="size" color="email" name="mail-outline"></ion-icon> {{listaopera.email}} </ion-label>
                
              </ion-item>
             
               <!-- <p> <h2>Descripción</h2> 
                <ion-label class="descripcion" >{{lista.descripcion}} </ion-label> -->
              
              
            </ion-card>
            
          </ion-list>
          
    
    </ion-content>
     