.fb{
    width: 30px;
    height: 30px;
    background-color: white;
    
    font-family:Gill Sans;
}

.what{
    width: 30px;
    height: 30px;
    font-family:Gill Sans;
        
}

.Web{
    width: 30px;
    height: 30px;
    color: rgb(247, 247, 248);
    font-family:Gill Sans;
}

.call{
    width: 30px;
    height: 30px;
    
    color: white;    
}
.text{
    font-size: small;
    // color: #000;
    font-family:Gill Sans;
}
.title_desc{
    
    // color: #000;
    font-family: Arial;
    font-size:23px !important;
    font-family: cursive;
}
.descripcion{
    // font-size: medium;
    // color: #000;
    font-family: Arial;
    font-size:17px !important;
    
    
}
.size{
    width: 25px;
    height: 25px;
    
}

.nombre{
    font-family: Arial;
    font-size:24px !important;
    
}

.img{
    width: 100%;
    height: 100%;
}
.card{
    width: 220px;
    height: 200px;
    margin: auto;
    
    
}

