
<app-header align="end" titulo="Relevancia Histórica"></app-header>



<ion-content  class="card-background-page">

  <ion-item-divider ></ion-item-divider>
  <ion-grid >

    <ion-row >

           <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">                                 
                    <ion-card size-lg="6"  [routerLink]="['/monumentos']">               
                      <img src="https://firebasestorage.googleapis.com/v0/b/tulcan-be024.appspot.com/o/monumentos%2FLibertad.jpg?alt=media&token=bde6c44a-96ea-4b38-8f07-a5c3e7588741" />   
                        <div class="card-title">Monumentos</div>
                        <div class="card-subtitle"> </div>
                    </ion-card>
           </ion-col>               

           <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12" >
                    <ion-card size-lg="6" [routerLink]="['/iglesias']">
                      <img src="https://firebasestorage.googleapis.com/v0/b/tulcan-be024.appspot.com/o/OtrosServicios%2FPorIglesia-la-Catedral.jpg?alt=media&token=f5b262c5-3db2-4949-98c0-69e6318afb35"/>
                        <div class="card-title">Iglesias</div>
                        <div class="card-subtitle"></div> 
                    </ion-card>
           </ion-col>

      </ion-row>
  </ion-grid>
  
</ion-content>
  