<app-header> Sobre Tulcán </app-header>

<ion-content>

<ion-card>
  <ion-card-title><h1 align= center >TULCÁN</h1></ion-card-title>
  <ion-item>
    <ion-slides [options]="slideOpts">
      <ion-slide> 
        <img src="https://firebasestorage.googleapis.com/v0/b/tulcan-be024.appspot.com/o/historia%2FHistoria.jpg?alt=media&token=91c9325d-cc4a-4fd4-a7f5-52ef5b931728" /> 
      </ion-slide>
      <ion-slide> 
        <img src="https://firebasestorage.googleapis.com/v0/b/tulcan-be024.appspot.com/o/historia%2FAzael-Franco.jpg?alt=media&token=df3b3866-8ddc-4677-91c5-ac7c1e31730b" /> 
      </ion-slide>
      <ion-slide> 
        <img src="https://firebasestorage.googleapis.com/v0/b/tulcan-be024.appspot.com/o/historia%2Fayora.jpg?alt=media&token=2d4b3359-362c-475f-b671-82252587073f" /> 
      </ion-slide>
      <ion-slide> 
        <img src="https://firebasestorage.googleapis.com/v0/b/tulcan-be024.appspot.com/o/OtrosServicios%2Figlesia-la-Catedral.jpg?alt=media&token=ec9ed457-59bb-4504-a33a-1e008c6fa498" /> 
      </ion-slide>
    </ion-slides>
                      
  </ion-item>
  
  <ion-item style="text-align: justify;"> <h4>Tulcán, también llamada San Miguel de Tulcán, es una ciudad fronteriza ecuatoriana; cabecera cantonal del Cantón Tulcán y capital de la Provincia de Carchi. 
    llamada "Centinela norteña" por su ubicación geográfica. Se ubica al extremo norte del territorio nacional, tiene una extensión de 1.670.03 km2, 
    sus límites son al Norte con Colombia, la ciudad de Ipiales, al Sur con los cantones Huaca, Montufar, Espejo y Mira, al Este con Colombia y la Provincia de Sucumbíos, 
    y al Oeste con Colombia, y la provincia de Esmeraldas, es la provincia y ciudad más alta del Ecuador con 3000 m.s.n.m. en la zona baja al occidente del cantón en la parroquia Tobar Donoso y 4.723 m.s.n.m. en el Volcán Chiles por lo que su temperatura media anual es de 11.5°C</h4>
  </ion-item>
  <p><h3 align= center>Se divide en Once Parroquias: </h3> 
  <ion-item>
  <h4>Dos Urbanas:Tulcán y González Suárez</h4>
  </ion-item>
  <ion-item style="text-align: justify;">
  <h4>Nueve Rurales: El Carmelo, Julio Andrade, Maldonado, Pioter, Tobar Donoso, Tufiño, Urbina, El Chical y Santa Martha de Cuba.</h4>
  </ion-item> 
 <ion-item style="text-align: justify;"> <h4>Tulcán es el centro de la infraestructura de servicios Turísticos de Carchi con aeropuerto, hoteles, restaurantes, discotecas, etc. desde donde es posible visitar los atractivos turísticos de la provincia que se convierten en un verdadero deleite para propios y extraños. En los sectores rurales se conservan importantes remanentes de áreas naturales con bosque húmedo primario, manchas de bosques andinos, especialmente alrededor de quebradas y vertientes, entre ellos se distingue el bosque de los Arrayanes en la parroquia de Santa Martha de Cuba, la zona de Bellavista, Maldonado y Chical.
    Tulcán posee una variedad de pequeños sistemas lacustres, los principales están en los páramos del volcán Chiles, que dan origen a muchos ríos y riachuelos que bañan la región y que se convierten en el reservorio natural de agua para el cantón y provincia, en donde se destaca la presencia de los frailejones como planta característica del ecosistema de páramo en el Carchi.
  </h4></ion-item>

  <ion-item>

    <ion-slides [options]="slideOpts">
      <ion-slide>
        <img src="https://firebasestorage.googleapis.com/v0/b/tulcan-be024.appspot.com/o/historia%2FCipr%C3%A9s-pulido.jpg?alt=media&token=641d9393-e015-46ed-bf57-778fa0a7f1dd" /> 
      </ion-slide>
      <ion-slide>
        <img src="https://firebasestorage.googleapis.com/v0/b/tulcan-be024.appspot.com/o/monumentos%2FLibertad.jpg?alt=media&token=bde6c44a-96ea-4b38-8f07-a5c3e7588741" /> 
      </ion-slide>
      <ion-slide>
        <img src="https://firebasestorage.googleapis.com/v0/b/tulcan-be024.appspot.com/o/historia%2Flagunas-verdes.jpg?alt=media&token=cd449b94-4f4e-4f27-880a-2dcab421c729" /> 
      </ion-slide>
    </ion-slides>
    </ion-item>
    <h3 align= center>Historia</h3>
    <ion-item style="text-align: justify;"> <h4>Tulcán fue resultado de reducción de dos pueblos aborígenes por parte de los españoles en el siglo XVI, reagrupando las poblaciones de Tulcanquer y Taques para facilitar su adoctrinamiento y se asentaron alrededor del la plaza central y su iglesia (Ponce de León, 1582 citado en Municipio de Tulcán, 2.003:19).
    En tiempos de la independencia y de la república, los tulcaneños y carchenses pusieron muchos hombres para las tropas grancolombianas, sirviendo de base para las operaciones de los ejércitos y teniendo que vivir dos guerras con Colombia: el 31 de julio de 1862 y el 
    6 de diciembre de 1893 por razones políticas. Tulcán fue reconocido como Cantón el 11 de abril de 1851. Ha venido transformando sus estructuras sociales, culturales, económicas, urbanísticas, etc. sufriendo modificaciones a lo largo de este siglo y medio de existencia cantonal
  </h4></ion-item>
  <h3 align= center>Clima</h3>
    <ion-item style="text-align: justify;"> <h4>
    El clima de la ciudad corresponde al clima sub-andino frío de tierras altas. El clima de Tulcán se divide en 2 estaciones o etapas; el invierno con un período de lluvias prolongado y una estación seca de cuatro meses donde se presentan las temperaturas más altas. Tulcán siempre tiene un clima frío con temperaturas que van desde los 6 a los 24 °C.
    Debido a que está a 2950 metros de altura y a que está ubicada en una zona andina con corrientes frías, Tulcán mantiene condiciones frías casi todo el año. De junio a septiembre las temperaturas suelen ser más cálidas, sobre todo durante la tarde, mientras que el resto del año la temperatura suele ser fría.
  
  </h4></ion-item> 
    <h3 align= center>Flora</h3>
    <ion-item style="text-align: justify;"><h4>Chilcas, guarumos, chuquiraguas, helechos arbóreos, frailejones, paja, pumamaquis, musgo, bromelias, almohadillas, y una gran variedad de orquídeas.
    </h4></ion-item>
    <h3 align= center>Fauna</h3>
    <ion-item style="text-align: justify;"><h4>Colibríes, gaviotas andinas, patos de páramo, curiquingues, quilicos, cóndores, cervicabras, venados, lobos de páramo, sapos marsupiales, truchos, preñadilla, mariposas de múltiples colores y en las zonas subtropicales: guanta, oso y culebra. Las zonas subtropicales al occidente del Cantón en la zona baja son parte de la bioregión del Chocó colombiano, una de las más diversas y húmedas del mundo.
    </h4></ion-item>
    <h3 align= center>Desarrollo Económico</h3>
    <ion-item style="text-align: justify;"> <h4>El cantón, excepto la ciudad de Tulcán se dedica a la actividad agropecuaria. La parroquia de Julio Andrade es un emporio papero, de Maldonado a Chical se obtienen productos subtropicales y en la ciudad de Tulcán un 85% se dedica al comercio con el vecino país del norte. Tulcán es una ciudad eminentemente comercial, la principal motivación para visitarla es la de hacer compras o establecer transacciones de negocios. Tradicionalmente desde hace muchos años ha habido un fuerte movimiento en intercambio de mercaderías entre Ecuador y Colombia por esta frontera, por lo que el flujo de personas ha sido constante aunque con altibajos por la oscilación de la devaluación monetaria a ambos lados de la frontera, por razones políticas o de orden público.
    </h4></ion-item>
</ion-card>
  


</ion-content>
