
<app-header align="end" titulo="Transporte"> </app-header>

<ion-content >
  
  <ion-grid fixed >
    <ion-row >

      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
              *ngFor="let listatransporte of listatransporte">
         <!-- <ion-slides [options]="slideOpts"> -->
           <!-- <ion-slide  -->
                       
            <ion-list>
              <ion-card>
                <img class="img" src={{listatransporte.foto_portada}}>    
                <!-- <img [src]="listahoteles.foto_portada | imagen"> -->   
                <ion-card-header  class="ion-no-padding">      
                  <hr><ion-card-title class="title">  {{listatransporte.nom_coop}}</ion-card-title>
                </ion-card-header>
              
              <p> <h2 class="title_desc"> Descripción</h2> 
                <div class="ion-text-justify" ><h5>{{listatransporte.descripcion|slice:0: oculto}}... </h5></div>
                <ion-label color="primary"
                (click)="oculto = 5000"
                *ngIf="oculto !==5000">Leer más! </ion-label>
              
              
                <ion-item>
                  <ion-label ><ion-icon  color="location" class="icon_d" name="location-outline"></ion-icon> {{listatransporte.direccion_oficina}} </ion-label>
                  
                </ion-item>
                <ion-item>
                  <ion-label ><ion-icon  color="call" class="telef" name="call-outline"></ion-icon> {{listatransporte.telef_celular}}</ion-label>
                  
                </ion-item>
                <ion-item>
                  <ion-label ><ion-icon  color="call" class="telef" name="call-outline"></ion-icon> {{listatransporte.telef_fijo}}</ion-label>
                  
                </ion-item>
              </ion-card>
            </ion-list>      
           <!-- </ion-slide> -->
          <!-- </ion-slides> -->

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
