    
<app-header align="end" titulo="Complejos Turísticos"> </app-header>

<ion-content >
   
  <ion-grid fixed >
    <ion-row >

      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
              *ngFor="let lista_A of lista_A">
         <!-- <ion-slides [options]="slideOpts"> -->
           <!-- <ion-slide  -->
                      

              <ion-card (click)="irADetalle(lista_A)">
                <img class="img" src={{lista_A.foto_portada}}>    
                <!-- <img [src]="listahoteles.foto_portada | imagen"> -->
                <ion-card-header  class="ion-no-padding">      
                  <hr><ion-card-title class="title">  {{lista_A.nom_estable}}</ion-card-title>
                </ion-card-header>
                   <ion-segment>
                     <ion-segment>
                        
                        <ion-icon color="email" class="icon_h" name="alarm"></ion-icon>
                        <ion-label class="horario"> {{lista_A.horario}}</ion-label> 
                       
                     </ion-segment>
                     <ion-segment >
                       
                        <ion-icon color="call" class="icon_p" name="logo-usd"></ion-icon>
                        <ion-label class="precio"> {{lista_A.rango_precio}}</ion-label> 
                       
                     </ion-segment>
                   </ion-segment>

                  <ion-card-subtitle > 
                    <ion-icon class="icon_d" name="pin"></ion-icon>
                  <ion-label class="direccion">{{lista_A.direccion}}</ion-label> 
                </ion-card-subtitle>

                <ion-item>
                  <ion-button color="header"> Saber Más</ion-button>
                </ion-item>
              </ion-card>
           <!-- </ion-slide> -->
          <!-- </ion-slides> -->

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
