.fb{
    width: 30px;
    height: 30px;
    background-color: white;
    
    font-family:Gill Sans;
}

.what{
    width: 30px;
    height: 30px;
    font-family:Gill Sans;
        
}

.Web{
    width: 30px;
    height: 30px;
    color: rgb(247, 247, 248);
    font-family:Gill Sans;
}

.call{
    width: 30px;
    height: 30px;
    
    color: white;    
}
.text{
    font-size: small;
    // color: #000;
    font-family:Gill Sans;
}
.title_desc{
    
    // color: #000;
    font-family: Arial;
    font-size:23px !important;
    font-family: cursive;
}
.descripcion{
    // font-size: medium;
    
    font-family: Arial;
    font-size:17px !important;
    
    
}
.portada{
    width: 500px !important;
    height: 300px !important;
}


.size{
    width: 25px;
    height: 25px;
}
// .card{
   //  width: 600px;
   //  height: 400px;
    
   //  margin-left: 27%;
   //  margin-right: 15px;
    // size: 12 ;
    // size: lg 50% ;
    // size: md 50% ;
    // size: sm 50% ;
    // size: xs 12;
// }
